* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------RECAP--------------*/
.tableRecap {
    border-collapse: collapse;
    width: 100%;
}

.tableRecap th, .tableRecap td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableRecap th {
    background-color: #f2f2f2;
}

.qtt {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.qtt a {
    background-color: #370298;
    border-radius: 20%;
    height: 22px;
    width: 17px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.qtt a:hover {
    background-color: #0000ff
}

.actions {
    justify-content: center;
    align-items: center;
}

.poubelle a {
    background-color: #c61f1f;
    border-radius: 20%;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.poubelle a:hover {
    background-color: #ff0000
}

.panier {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 10px;
}
.apanier input {
    display: inline-block;
    padding: 15px 25px;
    margin: 5px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4d944f;
    border: none;
    border-radius: 7px;
}
      
.apanier input:hover {
    background-color: #38a83b
}
      
.apanier input:active {
    background-color: #39ac3d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.vpanier input {
    display: inline-block;
    padding: 15px 25px;
    margin: 5px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #a20000;
    border: none;
    border-radius: 7px;
}
      
.vpanier input:hover {
    background-color: rgb(226, 20, 17)
}
      
.vpanier input:active {
    background-color: #ff0404;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.nbProduit {
    display: inline-block;
    padding: 15px;
    margin: 20px 0px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 7px;
}

.message {
    display: inline-block;
    padding: 15px;
    margin: 20px 0px;
    font-size: 12px;
    cursor: default;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #327889;
    border-radius: 15px;
    border: 3px solid #040404;
    font-size: 18px;
}

.recap {
    text-align: center;
    background-color: #9ec2ea;
    margin: 50px;
}

/*--------------INDEX--------------*/

.buttonLink {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 7px;
}

.buttonLink:hover {
    background-color: #370298;
}

.formulaire {
    text-align: center;
    padding: 20px 0px;
    background-color: #9ec2ea;
    
}


.formulaire h1 {
    margin: 10px;
}


.form {
    margin: 5px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 7px;
}
