* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fichier style.css */
.tableRecap {
    border-collapse: collapse;
    width: 100%;
}

.tableRecap th, .tableRecap td {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableRecap th {
    background-color: #f2f2f2;
}

.qtt {
    text-align: center;
    display: flex;
    justify-content: space-between;
}